
body{ font-family:;
   background-image: url("../img/img4.jpg");
   background-repeat: no-repeat;
   background-size: cover;

} 
a{ 
    font-family:sans-serif;
    font-size: 1,5 rem;
    font-style: inherit;
    color: white;
}
    
h1{
    text-align: center;
    padding: 20px;
    color:  rgb(57, 154, 161)
}
h2 {
    font-size: 1.5rem;
    position: relative;
    top: 16px;
    background-color: #333333;
    color: rgb(57, 154, 161);
    padding-top:20px;
}
#cuadro{border: 1px solid;
padding: 10px;
font-weight: bold ;
}
nav{
    padding-bottom: 20px;
    background-color: #333333;
}
ba
@media screen {500 px- 700 px
    }